[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "scanstatistics"]
	path = scanstatistics
	url = https://github.com/promerpr/scanstatistics
